<html>
<head>
<!--<meta charset="UTF-8">-->
<!--<title>文件上传</title>-->
    <!-- Required meta tags -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>文件上传</title>
</head>

<!-- 定义上传文件表单 form，使用 POST 方法提交给服务端 /upload 页面处理，属性 enctype=“multipart/form-data” 表示表单中包含有上传文件的数据需要处理 -->
<body>
<!--<h1>Android Malware Detection System</h1>-->




<br>

<div class="alert alert-info" role="alert">
    <h1>Android Malware Detection System <small> Home page</small></h1>
    <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHi, <span class="text-primary">{{current_user.get_id()}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>  <a href="/logout" type="button" class="btn btn-light btn-xs">click to logout</a><span></span></h3>

</div>

<h2>上传文件</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="files" class="input" multiple="multiple">
    <input type="submit" value="上传" class="input button">
</form>



<h2>{{get_flashed_messages()[0]}}</h2>

<br>
<!-- 访问路径 / 时，处理函数 index 列出目录 upload 下所有的文件名，作为参数传给首页的模板 index.html。假设当前 upload 目录下存在 3 个文件: a.txt、b.txt、c.txt，则 entries 为 [‘a.txt’, ‘b.txt’, ‘c.txt’]，页面模板被渲染为 -->
<h2>文件列表</h2>
<ol>
{% for entry in entries %}
    <li><a href='/files/{{entry}}'>{{entry}}</a>
{% endfor %}
</ol>

<a href='/check' type="button" class="btn btn-primary btn-sm">一键检测</a>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>